<div class="board">
  <div class="board__header">
    <a class="board__header-logout" href="#">Logout</a>
  </div>
  <ul class="side-menu">
    <li class="side-menu__item">Users</li>
    <li class="side-menu__item side-menu__item_disabled">Players</li>
    <li class="side-menu__item side-menu__item_disabled">Games</li>
    <li class="side-menu__item side-menu__item_disabled">Store</li>
  </ul>
  <div class="board__main">
    <div class="card">
      <div class="card-header text-center">
        Users
      </div>
      <ul class="list-group">
        <a href="#/user?id=1" class="list-group-item">
          <div class="item-name">Sergey</div>
          <div class="item-email">test@test</div>
          <div class="item-edit">
            <i class="fas fa-pencil-alt"></i>
          </div>
        </a>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-footer text-muted">
        <a href="#/user" class="btn btn-light">Add new</a>
      </div>
    </div>
  </div>
</div>