<div class="board">
  <div class="board__header">
    <a class="board__header-logout" href="#" onclick="return dashboard.logout()">Logout</a>
  </div>
  <ul class="side-menu">
    <li class="side-menu__item">Users</li>
    <li class="side-menu__item side-menu__item_disabled">Players</li>
    <li class="side-menu__item side-menu__item_disabled">Games</li>
    <li class="side-menu__item side-menu__item_disabled">Store</li>
  </ul>
  <div class="board__main">
    <div class="card">
      <div class="card-header text-center">
        Users
      </div>
      <ul class="list-group"></ul>
      <div class="card-footer text-muted board-footer">
        <div class="board-footer__btn-wrap justify-content-end">
          <a href="#/user" class="btn btn-light">Add new</a>
        </div>
      </div>
    </div>
  </div>
</div>