<div class="board">
  <div class="board__header">
    <a class="board__header-logout" href="#" onclick="return user.logout()">Logout</a>
  </div>
  <ul class="side-menu">
    <li class="side-menu__item">Users</li>
    <li class="side-menu__item side-menu__item_disabled">Players</li>
    <li class="side-menu__item side-menu__item_disabled">Games</li>
    <li class="side-menu__item side-menu__item_disabled">Store</li>
  </ul>
  <div class="board__main">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">User</li>
      </ol>
    </nav>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User</h5>
            <hr>
            <form class="form-group" id="user">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Name</span>
                </div>
                <input name="username" type="text" class="form-control">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Email</span>
                </div>
                <input name="email" type="text" class="form-control">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Age</span>
                </div>
                <input name="age" type="number" class="form-control">
              </div>
            </form>
          </div>
          <div class="card-footer text-muted board-footer">
            <div class="board-footer__err-wrap">
              <p id="error-log"></p>
            </div>
            <div class="board-footer__btn-wrap">
              <a href="#/dashboard" class="btn btn-light" >Cancel</a>
              <button type="button" class="btn btn-primary" onclick="user.save()">Save</button>
              <button type="button" class="btn btn-danger" onclick="user.remove()">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>